@font-face {
    font-family: myFont;
    src:url(Norse-Bold.otf);
}

body {
    /* background-image: url(background.avif);
    background-repeat: no-repeat;
    width: 50px; */
}



h1 {
    font-family: myFont;
    color: rgb(222, 219, 219);

}

.transparent {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 350px;
    opacity: 0.4;
}

img {
    margin-top: 10px;
    height: 100px;
    width: 75px;
}

.container {
    display: flex;
}

